<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Connection String -->
		<add key="ConnectionString" value="Data Source=COMMERCIENT-02\SQLEXPRESS;Initial Catalog=college;Persist Security Info=True;User ID=sa1;Password=1234"/>

		<!-- Table Name -->
		<add key="TableName" value="Nirmal" />

		<!-- File Path -->
		<add key="DataFilePath" value="C:\\Logs\\data.xml" />

		<!-- File Path -->
		<add key="SchemaFilePath" value="C:\\Logs\\tableType1.xml" />

	</appSettings>
</configuration>